openapi: 3.1.0
info:
  title: Ratatoskr Mobile API
  description: RESTful API for Android/iOS mobile clients
  version: 1.0.0
servers:
- url: https://ratatoskrapi.po4yka.com
  description: Production
- url: https://staging-ratatoskrapi.po4yka.com
  description: Staging
- url: http://localhost:8000
  description: Local development
paths:
  /v1/auth/telegram-login:
    post:
      tags:
      - Authentication
      summary: Telegram Login
      description: 'Exchange Telegram authentication data for JWT tokens.


        Verifies Telegram auth hash using HMAC-SHA256 and returns access + refresh tokens.


        The authentication data must come from Telegram Login Widget and include:

        - id: Telegram user ID

        - hash: HMAC-SHA256 hash of auth data

        - auth_date: Unix timestamp of authentication

        - client_id: Client application ID

        - Optional: username, first_name, last_name, photo_url'
      operationId: telegram_login_v1_auth_telegram_login_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelegramLoginRequest'
        required: true
      responses:
        '200':
          description: Login success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/auth/refresh:
    post:
      tags:
      - Authentication
      summary: Refresh Access Token
      description: Refresh an expired access token using a refresh token.
      operationId: refresh_access_token_v1_auth_refresh_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
        required: true
      responses:
        '200':
          description: Tokens refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokensResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/auth/logout:
    post:
      tags:
      - Authentication
      summary: Logout
      description: Revoke the specified refresh token.
      operationId: logout_v1_auth_logout_post
      security:
      - HTTPBearer: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
        required: true
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/auth/sessions:
    get:
      tags:
      - Authentication
      summary: List Active Sessions
      description: List all active refresh token sessions for the current user.
      operationId: list_sessions_v1_auth_sessions_get
      security:
      - HTTPBearer: []
      responses:
        '200':
          description: List of sessions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionListResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/auth/me:
    get:
      tags:
      - Authentication
      summary: Get Current User Info
      description: Get current authenticated user information.
      operationId: get_current_user_info_v1_auth_me_get
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - HTTPBearer: []
    delete:
      tags:
      - Authentication
      summary: Delete Account
      description: Delete the current user account and all associated data.
      operationId: delete_account_v1_auth_me_delete
      security:
      - HTTPBearer: []
      responses:
        '200':
          description: Account deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/summaries/{summary_id}/favorite:
    post:
      summary: Toggle favorite status
      operationId: toggleFavorite
      security:
      - HTTPBearer: []
      parameters:
      - name: summary_id
        in: path
        required: true
        schema:
          type: integer
      tags:
      - Summaries
      responses:
        '200':
          description: Favorite status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToggleFavoriteResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/summaries/{summary_id}/audio:
    post:
      summary: Generate Summary Audio
      description: Trigger audio generation for a summary. Returns immediately with status if already cached, otherwise generates on-demand.
      operationId: generate_summary_audio_v1_summaries_summary_id_audio_post
      security:
      - HTTPBearer: []
      parameters:
      - name: summary_id
        in: path
        required: true
        schema:
          type: integer
      - name: source_field
        in: query
        required: false
        schema:
          type: string
          enum:
          - summary_250
          - summary_1000
          - tldr
          default: summary_1000
      tags:
      - Summaries
      responses:
        '200':
          description: Audio generation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryAudioResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '501':
          description: TTS not enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: Get Summary Audio
      description: Stream or download the generated audio file for a summary. Returns audio/mpeg.
      operationId: get_summary_audio_v1_summaries_summary_id_audio_get
      security:
      - HTTPBearer: []
      parameters:
      - name: summary_id
        in: path
        required: true
        schema:
          type: integer
      tags:
      - Summaries
      responses:
        '200':
          description: Audio file stream
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '501':
          description: TTS not enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/proxy/image:
    get:
      summary: Proxy Image
      description: Proxy an image from a remote URL to bypass CORS/hotlink protection.
      operationId: proxyImage
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        description: URL of the image to proxy
      tags:
      - Proxy
      responses:
        '200':
          description: Image content stream
          content:
            image/*:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/notifications/device:
    post:
      tags:
      - Notifications
      summary: Register mobile device
      description: Register a device token (FCM/APNS) for push notifications.
      operationId: registerDevice
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRegistrationPayload'
      responses:
        '200':
          description: Device registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections:
    get:
      summary: List collections
      operationId: getCollections
      security:
      - HTTPBearer: []
      tags:
      - Collections
      parameters:
      - name: parent_id
        in: query
        required: false
        schema:
          title: Parent Id
          type: integer
          minimum: 1
          nullable: true
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 20
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      responses:
        '200':
          description: List of user collections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionListResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create collection
      operationId: createCollection
      security:
      - HTTPBearer: []
      tags:
      - Collections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionCreateRequest'
      responses:
        '200':
          description: Collection created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections/{collection_id}:
    get:
      summary: Get collection details
      operationId: getCollection
      security:
      - HTTPBearer: []
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: integer
      tags:
      - Collections
      responses:
        '200':
          description: Collection details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update collection
      operationId: updateCollection
      security:
      - HTTPBearer: []
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: integer
      tags:
      - Collections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionUpdateRequest'
      responses:
        '200':
          description: Collection updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete collection
      operationId: deleteCollection
      security:
      - HTTPBearer: []
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: integer
      tags:
      - Collections
      responses:
        '200':
          description: Collection deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections/{collection_id}/items:
    post:
      summary: Add item to collection
      operationId: addCollectionItem
      security:
      - HTTPBearer: []
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: integer
      tags:
      - Collections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionItemCreateRequest'
      responses:
        '200':
          description: Item added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: List items in collection
      operationId: listCollectionItems
      security:
      - HTTPBearer: []
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
      tags:
      - Collections
      responses:
        '200':
          description: Items listed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionItemsResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections/{collection_id}/items/{summary_id}:
    delete:
      summary: Remove item from collection
      operationId: removeCollectionItem
      security:
      - HTTPBearer: []
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: integer
      - name: summary_id
        in: path
        required: true
        schema:
          type: integer
      tags:
      - Collections
      responses:
        '200':
          description: Item removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections/tree:
    get:
      summary: List collections as tree
      operationId: getCollectionTree
      security:
      - HTTPBearer: []
      tags:
      - Collections
      parameters:
      - name: max_depth
        in: query
        required: false
        schema:
          type: integer
          default: 3
      responses:
        '200':
          description: Collection tree
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionTreeResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections/{collection_id}/acl:
    get:
      summary: Get collection ACL
      operationId: getCollectionAcl
      security:
      - HTTPBearer: []
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: integer
      tags:
      - Collections
      responses:
        '200':
          description: ACL entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionAclResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections/{collection_id}/share:
    post:
      summary: Add collaborator
      operationId: addCollectionCollaborator
      security:
      - HTTPBearer: []
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: integer
      tags:
      - Collections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionShareRequest'
      responses:
        '200':
          description: Collaborator added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections/{collection_id}/share/{target_user_id}:
    delete:
      summary: Remove collaborator
      operationId: removeCollectionCollaborator
      security:
      - HTTPBearer: []
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: integer
      - name: target_user_id
        in: path
        required: true
        schema:
          type: integer
      tags:
      - Collections
      responses:
        '200':
          description: Collaborator removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections/{collection_id}/invite:
    post:
      summary: Create invite token
      operationId: createCollectionInvite
      security:
      - HTTPBearer: []
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: integer
      tags:
      - Collections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionInviteRequest'
      responses:
        '200':
          description: Invite created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionInviteResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections/invites/{token}/accept:
    post:
      summary: Accept collection invite
      operationId: acceptCollectionInvite
      security:
      - HTTPBearer: []
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Collections
      responses:
        '200':
          description: Invite accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections/{collection_id}/reorder:
    post:
      summary: Reorder child collections
      operationId: reorderCollections
      security:
      - HTTPBearer: []
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: integer
      tags:
      - Collections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionReorderRequest'
      responses:
        '200':
          description: Reordered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionReorderResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections/{collection_id}/items/reorder:
    post:
      summary: Reorder collection items
      operationId: reorderCollectionItems
      security:
      - HTTPBearer: []
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: integer
      tags:
      - Collections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionItemReorderRequest'
      responses:
        '200':
          description: Items reordered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionReorderResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections/{collection_id}/move:
    post:
      summary: Move collection to another parent
      operationId: moveCollection
      security:
      - HTTPBearer: []
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: integer
      tags:
      - Collections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionMoveRequest'
      responses:
        '200':
          description: Collection moved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionMoveResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections/{collection_id}/items/move:
    post:
      summary: Move items to another collection
      operationId: moveCollectionItems
      security:
      - HTTPBearer: []
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: integer
      tags:
      - Collections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionItemMoveRequest'
      responses:
        '200':
          description: Items moved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionItemsMoveResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/auth/secret-login:
    post:
      tags:
      - Authentication
      summary: Secret Key Login
      description: Exchange a pre-registered client secret for JWT tokens.
      operationId: secret_login_v1_auth_secret_login_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretLoginRequest'
        required: true
      responses:
        '200':
          description: Login success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokensResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/auth/credentials-login:
    post:
      tags:
      - Authentication
      summary: Credentials Login (nickname/email + password)
      description: 'Exchange nickname/email + password for JWT tokens. Bootstrap is

        CLI-only (`ratatoskr credentials set`) — no public signup. Route

        is gated on `CREDENTIALS_LOGIN_PEPPER` presence; when unset, returns

        503 Configuration error. `remember_me=True` issues a 30-day refresh

        token; `False` issues a short-lived (default 12h) refresh and a

        session-only cookie (no Max-Age).

        '
      operationId: credentials_login_v1_auth_credentials_login_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialsLoginRequest'
        required: true
      responses:
        '200':
          description: Login success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokensResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '503':
          $ref: '#/components/responses/InternalServerError'
  /v1/auth/credentials/change-password:
    post:
      tags:
      - Authentication
      summary: Change password (owner)
      description: 'Change the current user''s password. Requires the current password.

        Returns generic 401 on any failure (unknown user, mismatched current

        password, locked-out row) to avoid disclosing whether password auth

        is set up for the caller.

        '
      operationId: change_password_v1_auth_credentials_change_password_post
      security:
      - HTTPBearer: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
        required: true
      responses:
        '200':
          description: Password changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessageEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/auth/secret-keys:
    post:
      tags:
      - Authentication
      summary: Create Client Secret (owner-only)
      description: Create or register a client secret for a user. Returns plaintext secret once.
      operationId: create_secret_key_v1_auth_secret_keys_post
      security:
      - HTTPBearer: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretKeyCreateRequest'
        required: true
      responses:
        '200':
          description: Secret created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretKeyCreateResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
      - Authentication
      summary: List Client Secrets (owner-only)
      description: List client secrets with optional filters.
      operationId: list_secret_keys_v1_auth_secret_keys_get
      security:
      - HTTPBearer: []
      parameters:
      - name: user_id
        in: query
        required: false
        schema:
          type: integer
      - name: client_id
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - active
          - revoked
          - expired
          - locked
      responses:
        '200':
          description: Secrets list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretKeyListResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/auth/secret-keys/{key_id}/rotate:
    post:
      tags:
      - Authentication
      summary: Rotate Client Secret (owner-only)
      description: Rotate an existing client secret; returns plaintext secret once.
      operationId: rotate_secret_key_v1_auth_secret_keys_key_id_rotate_post
      security:
      - HTTPBearer: []
      parameters:
      - name: key_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretKeyRotateRequest'
        required: true
      responses:
        '200':
          description: Secret rotated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretKeyCreateResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/auth/secret-keys/{key_id}/revoke:
    post:
      tags:
      - Authentication
      summary: Revoke Client Secret (owner-only)
      description: Revoke an existing client secret.
      operationId: revoke_secret_key_v1_auth_secret_keys_key_id_revoke_post
      security:
      - HTTPBearer: []
      parameters:
      - name: key_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretKeyRevokeRequest'
      responses:
        '200':
          description: Secret revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretKeyActionResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/auth/me/telegram:
    get:
      tags:
      - Authentication
      summary: Get Telegram Link Status
      description: Return current Telegram linkage state for the authenticated user.
      operationId: get_telegram_link_status_v1_auth_me_telegram_get
      security:
      - HTTPBearer: []
      responses:
        '200':
          description: Link status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelegramLinkStatusEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
      - Authentication
      summary: Unlink Telegram Account
      description: Remove Telegram linkage for the authenticated user.
      operationId: unlink_telegram_v1_auth_me_telegram_delete
      security:
      - HTTPBearer: []
      responses:
        '200':
          description: Unlinked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelegramLinkStatusEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/auth/me/telegram/link:
    post:
      tags:
      - Authentication
      summary: Begin Telegram Linking
      description: Issue a nonce to start Telegram linking via Telegram Login Widget.
      operationId: begin_telegram_link_v1_auth_me_telegram_link_post
      security:
      - HTTPBearer: []
      responses:
        '200':
          description: Nonce issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelegramLinkBeginResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/auth/me/telegram/complete:
    post:
      tags:
      - Authentication
      summary: Complete Telegram Linking
      description: Validate Telegram login payload and nonce to complete linking.
      operationId: complete_telegram_link_v1_auth_me_telegram_complete_post
      security:
      - HTTPBearer: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelegramLinkCompleteRequest'
        required: true
      responses:
        '200':
          description: Linked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelegramLinkStatusEnvelope'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/summaries:
    get:
      tags:
      - Summaries
      summary: Get Summaries
      description: 'Get paginated list of summaries.


        Query Parameters:

        - limit: Items per page (1-100, default 20)

        - offset: Pagination offset (default 0)

        - is_read: Filter by read status (optional)

        - lang: Filter by language (en/ru/auto)

        - start_date: Filter by creation date (ISO 8601)

        - end_date: Filter by creation date (ISO 8601)

        - sort: Sort order (created_at_desc/created_at_asc)'
      operationId: get_summaries_v1_summaries_get
      security:
      - HTTPBearer: []
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 20
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      - name: is_read
        in: query
        required: false
        schema:
          title: Is Read
          type: boolean
          nullable: true
      - name: is_favorited
        in: query
        required: false
        schema:
          title: Is Favorited
          type: boolean
          nullable: true
      - name: lang
        in: query
        required: false
        schema:
          title: Lang
          type: string
          pattern: ^(en|ru|auto)$
          nullable: true
      - name: start_date
        in: query
        required: false
        schema:
          title: Start Date
          type: string
          nullable: true
      - name: end_date
        in: query
        required: false
        schema:
          title: End Date
          type: string
          nullable: true
      - name: sort
        in: query
        required: false
        schema:
          type: string
          pattern: ^(created_at_desc|created_at_asc)$
          default: created_at_desc
          title: Sort
      responses:
        '200':
          description: Paginated summaries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSummariesResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/summaries/{summary_id}:
    get:
      tags:
      - Summaries
      summary: Get Summary
      description: Get a single summary with full details.
      operationId: get_summary_v1_summaries__summary_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: summary_id
        in: path
        required: true
        schema:
          type: integer
          title: Summary Id
      responses:
        '200':
          description: Summary detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryDetailResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
      - Summaries
      summary: Update Summary
      description: Update summary metadata (e.g., mark as read).
      operationId: update_summary_v1_summaries__summary_id__patch
      security:
      - HTTPBearer: []
      parameters:
      - name: summary_id
        in: path
        required: true
        schema:
          type: integer
          title: Summary Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSummaryRequest'
      responses:
        '200':
          description: Summary updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryUpdateResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
      - Summaries
      summary: Delete Summary
      description: Delete a summary (soft delete).
      operationId: delete_summary_v1_summaries__summary_id__delete
      security:
      - HTTPBearer: []
      parameters:
      - name: summary_id
        in: path
        required: true
        schema:
          type: integer
          title: Summary Id
      responses:
        '200':
          description: Summary deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryDeleteResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/summaries/{summary_id}/content:
    get:
      tags:
      - Summaries
      summary: Get Summary Content
      description: Get full article content for offline reading (Markdown by default).
      operationId: get_summary_content_v1_summaries__summary_id__content_get
      security:
      - HTTPBearer: []
      parameters:
      - name: summary_id
        in: path
        required: true
        schema:
          type: integer
          title: Summary Id
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - markdown
          - text
          default: markdown
          title: Format
      responses:
        '200':
          description: Summary content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryContentResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/requests:
    post:
      tags:
      - Requests
      summary: Submit Request
      description: 'Submit a new URL or forwarded message for processing.


        Returns request_id and correlation_id for status polling.

        Checks for duplicates and returns existing summary if found.

        Processing happens asynchronously in the background.'
      operationId: submit_request_v1_requests_post
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/SubmitURLRequest'
              - $ref: '#/components/schemas/SubmitForwardRequest'
              description: Request payload with discriminator on type
        required: true
      responses:
        '200':
          description: Request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitRequestResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - HTTPBearer: []
  /v1/requests/{request_id}:
    get:
      tags:
      - Requests
      summary: Get Request
      description: Get details about a specific request.
      operationId: get_request_v1_requests__request_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: request_id
        in: path
        required: true
        schema:
          type: integer
          title: Request Id
      responses:
        '200':
          description: Request detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestDetailResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/requests/{request_id}/status:
    get:
      tags:
      - Requests
      summary: Get Request Status
      description: Poll for real-time processing status.
      operationId: get_request_status_v1_requests__request_id__status_get
      security:
      - HTTPBearer: []
      parameters:
      - name: request_id
        in: path
        required: true
        schema:
          type: integer
          title: Request Id
      responses:
        '200':
          description: Request status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestStatusResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/requests/{request_id}/retry:
    post:
      tags:
      - Requests
      summary: Retry Request
      description: Retry a failed request. Processes asynchronously in the background.
      operationId: retry_request_v1_requests__request_id__retry_post
      security:
      - HTTPBearer: []
      parameters:
      - name: request_id
        in: path
        required: true
        schema:
          type: integer
          title: Request Id
      responses:
        '200':
          description: Request retried
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestRetryResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/requests/{request_id}/stream:
    get:
      summary: Stream summary progress events as Server-Sent Events
      description: 'Returns a Server-Sent Events (SSE) stream of progress events for the given

        request. The connection stays open until the underlying summarization reaches

        a terminal state (''done'' or ''error'') or the client disconnects.


        Events use the standard SSE format. The ''event:'' field is one of

        ''phase'' | ''section'' | ''done'' | ''error''; the ''data:'' field is a JSON object

        whose ''kind'' matches the event field, with payload schemas as documented

        below (StreamPhaseEvent, StreamSectionEvent, StreamDoneEvent, StreamErrorEvent).

        The server emits a comment-line '': keepalive'' heartbeat every 15s on idle.

        '
      operationId: streamRequest
      tags:
      - Streams
      security:
      - HTTPBearer: []
      parameters:
      - name: request_id
        in: path
        required: true
        schema:
          type: integer
        description: Numeric request id; the authenticated user must own this request.
      responses:
        '200':
          description: SSE stream open. See StreamPhaseEvent / StreamSectionEvent / StreamDoneEvent / StreamErrorEvent for payload shapes.
          content:
            text/event-stream:
              schema:
                type: string
                description: 'Server-Sent Events stream. Each event is one of:

                  - phase  -> StreamPhaseEvent

                  - section -> StreamSectionEvent

                  - done    -> StreamDoneEvent

                  - error   -> StreamErrorEvent

                  '
        '401':
          description: Missing or invalid bearer token.
        '403':
          description: Authenticated user does not own this request.
        '404':
          description: Request id does not exist.
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/aggregations:
    post:
      tags:
      - Aggregations
      summary: Create Aggregation Bundle
      description: Execute mixed-source aggregation for one submitted bundle of 1-25 URL items. This endpoint is blocking and returns the final persisted session snapshot on success.
      operationId: create_aggregation_bundle_v1_aggregations_post
      security:
      - HTTPBearer: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  minItems: 1
                  maxItems: 25
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        const: url
                        default: url
                      url:
                        type: string
                        format: uri
                        maxLength: 2048
                      source_kind_hint:
                        type: string
                        nullable: true
                        enum:
                        - x_post
                        - x_article
                        - threads_post
                        - instagram_post
                        - instagram_carousel
                        - instagram_reel
                        - web_article
                        - telegram_post
                        - youtube_video
                      metadata:
                        type: object
                        nullable: true
                        additionalProperties: true
                    required:
                    - url
                lang_preference:
                  type: string
                  enum:
                  - auto
                  - en
                  - ru
                  default: auto
                metadata:
                  type: object
                  nullable: true
                  additionalProperties: true
              required:
              - items
        required: true
      responses:
        '200':
          description: Aggregation bundle completed or partially completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: object
                    properties:
                      session:
                        type: object
                        properties:
                          sessionId:
                            type: integer
                          correlationId:
                            type: string
                          status:
                            type: string
                          sourceType:
                            type: string
                          successfulCount:
                            type: integer
                          failedCount:
                            type: integer
                          duplicateCount:
                            type: integer
                          processingTimeMs:
                            type: integer
                            nullable: true
                          queuedAt:
                            type: string
                            nullable: true
                          startedAt:
                            type: string
                            nullable: true
                          completedAt:
                            type: string
                            nullable: true
                          lastProgressAt:
                            type: string
                            nullable: true
                          progress:
                            type: object
                            additionalProperties: true
                          failure:
                            type: object
                            nullable: true
                            additionalProperties: true
                      aggregation:
                        type: object
                        additionalProperties: true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            position:
                              type: integer
                            itemId:
                              type: integer
                            sourceItemId:
                              type: string
                            sourceKind:
                              type: string
                            status:
                              type: string
                            requestId:
                              type: integer
                              nullable: true
                            failure:
                              type: object
                              nullable: true
                              additionalProperties: true
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                - success
                - data
                - meta
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
      - Aggregations
      summary: List Aggregation Bundles
      description: Return recent persisted aggregation sessions for the authenticated user.
      operationId: list_aggregation_bundles_v1_aggregations_get
      security:
      - HTTPBearer: []
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: status
        in: query
        required: false
        schema:
          type: string
          nullable: true
          enum:
          - pending
          - processing
          - completed
          - partial
          - failed
          - cancelled
      responses:
        '200':
          description: Aggregation bundle list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: object
                    properties:
                      sessions:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                - success
                - data
                - meta
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/aggregations/{session_id}:
    get:
      tags:
      - Aggregations
      summary: Get Aggregation Bundle
      description: Return one persisted aggregation session with bundle items and synthesized output.
      operationId: get_aggregation_bundle_v1_aggregations__session_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: integer
          title: Session Id
      responses:
        '200':
          description: Aggregation bundle detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: object
                    properties:
                      session:
                        type: object
                        additionalProperties: true
                      items:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                      aggregation:
                        type: object
                        nullable: true
                        additionalProperties: true
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                - success
                - data
                - meta
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/search:
    get:
      tags:
      - Search
      summary: Search Summaries
      description: 'Full-text search across all summaries using FTS5.


        Search Syntax:

        - Wildcard: bitcoin*

        - Phrase: "artificial intelligence"

        - Boolean: blockchain AND crypto

        - Exclusion: crypto NOT bitcoin'
      operationId: search_summaries_v1_search_get
      security:
      - HTTPBearer: []
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
          maxLength: 200
          title: Q
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 20
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      - name: mode
        in: query
        required: false
        schema:
          type: string
          pattern: ^(auto|keyword|semantic|hybrid)$
          default: auto
          title: Mode
      - name: language
        in: query
        required: false
        schema:
          title: Language
          type: string
          minLength: 2
          maxLength: 10
          nullable: true
      - name: tags
        in: query
        required: false
        schema:
          title: Tags
          type: array
          items:
            type: string
          nullable: true
      - name: domains
        in: query
        required: false
        schema:
          title: Domains
          type: array
          items:
            type: string
          nullable: true
      - name: start_date
        in: query
        required: false
        schema:
          title: Start Date
          type: string
          nullable: true
        description: ISO date (YYYY-MM-DD)
      - name: end_date
        in: query
        required: false
        schema:
          title: End Date
          type: string
          nullable: true
        description: ISO date (YYYY-MM-DD)
      - name: is_read
        in: query
        required: false
        schema:
          title: Is Read
          type: boolean
          nullable: true
      - name: is_favorited
        in: query
        required: false
        schema:
          title: Is Favorited
          type: boolean
          nullable: true
      - name: min_similarity
        in: query
        required: false
        schema:
          type: number
          maximum: 1.0
          minimum: 0.0
          default: 0.2
          title: Min Similarity
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/search/semantic:
    get:
      tags:
      - Search
      summary: Semantic Search Summaries
      description: Semantic search across summaries using Qdrant embeddings.
      operationId: semantic_search_summaries_v1_search_semantic_get
      security:
      - HTTPBearer: []
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
          maxLength: 200
          title: Q
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 20
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      - name: language
        in: query
        required: false
        schema:
          title: Language
          type: string
          minLength: 2
          maxLength: 10
          nullable: true
      - name: tags
        in: query
        required: false
        schema:
          title: Tags
          type: array
          items:
            type: string
          nullable: true
      - name: domains
        in: query
        required: false
        schema:
          title: Domains
          type: array
          items:
            type: string
          nullable: true
      - name: start_date
        in: query
        required: false
        schema:
          title: Start Date
          type: string
          nullable: true
        description: ISO date (YYYY-MM-DD)
      - name: end_date
        in: query
        required: false
        schema:
          title: End Date
          type: string
          nullable: true
        description: ISO date (YYYY-MM-DD)
      - name: is_read
        in: query
        required: false
        schema:
          title: Is Read
          type: boolean
          nullable: true
      - name: is_favorited
        in: query
        required: false
        schema:
          title: Is Favorited
          type: boolean
          nullable: true
      - name: user_scope
        in: query
        required: false
        schema:
          title: User Scope
          type: string
          minLength: 1
          maxLength: 50
          nullable: true
      - name: min_similarity
        in: query
        required: false
        schema:
          type: number
          maximum: 1.0
          minimum: 0.0
          default: 0.2
          title: Min Similarity
      responses:
        '200':
          description: Semantic search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/search/insights:
    get:
      tags:
      - Search
      summary: Search Insights
      description: Search analytics snapshot including trends, entities, diversity, topic mix and coverage gaps.
      operationId: get_search_insights_v1_search_insights_get
      security:
      - HTTPBearer: []
      parameters:
      - name: days
        in: query
        required: false
        schema:
          type: integer
          maximum: 365
          minimum: 7
          default: 30
          title: Days
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 5
          default: 20
          title: Limit
      responses:
        '200':
          description: Search insights data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/topics/trending:
    get:
      tags:
      - Search
      summary: Get Trending Topics
      description: Get trending topic tags across recent summaries.
      operationId: get_trending_topics_v1_topics_trending_get
      security:
      - HTTPBearer: []
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 20
          title: Limit
      - name: days
        in: query
        required: false
        schema:
          type: integer
          maximum: 365
          minimum: 1
          default: 30
          title: Days
      responses:
        '200':
          description: Trending topics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendingTopicsResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/topics/related:
    get:
      tags:
      - Search
      summary: Get Related Summaries
      description: Get summaries related to a specific topic tag.
      operationId: get_related_summaries_v1_topics_related_get
      security:
      - HTTPBearer: []
      parameters:
      - name: tag
        in: query
        required: true
        schema:
          type: string
          minLength: 1
          title: Tag
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 20
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      responses:
        '200':
          description: Related summaries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelatedTopicsResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/urls/check-duplicate:
    get:
      tags:
      - Search
      summary: Check Duplicate
      description: Check if a URL has already been summarized.
      operationId: check_duplicate_v1_urls_check_duplicate_get
      security:
      - HTTPBearer: []
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          minLength: 10
          title: Url
      - name: include_summary
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Include Summary
      responses:
        '200':
          description: Duplicate check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuplicateUrlCheckResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/sync/sessions:
    post:
      tags:
      - Sync
      summary: Create Sync Session
      description: Create or resume a sync session.
      operationId: create_sync_session_v1_sync_sessions_post
      requestBody:
        content:
          application/json:
            schema:
              description: Optional session options
              allOf:
              - $ref: '#/components/schemas/SyncSessionRequest'
              nullable: true
      responses:
        '200':
          description: Sync session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncSessionResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - HTTPBearer: []
  /v1/sync/full:
    get:
      tags:
      - Sync
      summary: Full Sync
      description: Fetch full sync data in bounded chunks.
      operationId: full_sync_v1_sync_full_get
      security:
      - HTTPBearer: []
      parameters:
      - name: session_id
        in: query
        required: true
        schema:
          type: string
          description: Sync session identifier
          title: Session Id
        description: Sync session identifier
      - name: limit
        in: query
        required: false
        schema:
          title: Limit
          type: integer
          maximum: 500
          minimum: 1
          nullable: true
      responses:
        '200':
          description: Full sync chunk
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullSyncResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '410':
          $ref: '#/components/responses/SessionExpiredError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/sync/delta:
    get:
      tags:
      - Sync
      summary: Delta Sync
      description: Fetch delta sync (created/updated/deleted) since a cursor.
      operationId: delta_sync_v1_sync_delta_get
      security:
      - HTTPBearer: []
      parameters:
      - name: session_id
        in: query
        required: true
        schema:
          type: string
          description: Sync session identifier
          title: Session Id
        description: Sync session identifier
      - name: since
        in: query
        required: true
        schema:
          type: integer
          minimum: 0
          description: Last seen server_version cursor
          title: Since
        description: Last seen server_version cursor
      - name: limit
        in: query
        required: false
        schema:
          title: Limit
          type: integer
          maximum: 500
          minimum: 1
          nullable: true
      responses:
        '200':
          description: Delta sync data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeltaSyncResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '410':
          $ref: '#/components/responses/SessionExpiredError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/sync/apply:
    post:
      tags:
      - Sync
      summary: Apply Changes
      description: Apply client-side changes with conflict detection.
      operationId: apply_changes_v1_sync_apply_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncApplyRequest'
        required: true
      responses:
        '200':
          description: Apply results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncApplyResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '410':
          $ref: '#/components/responses/SessionExpiredError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - HTTPBearer: []
  /v1/user/preferences:
    get:
      tags:
      - User
      summary: Get User Preferences
      description: Get user preferences.
      operationId: get_user_preferences_v1_user_preferences_get
      responses:
        '200':
          description: User preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferencesResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - HTTPBearer: []
    patch:
      tags:
      - User
      summary: Update User Preferences
      description: Update user preferences.
      operationId: update_user_preferences_v1_user_preferences_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePreferencesRequest'
        required: true
      responses:
        '200':
          description: Preferences updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferencesResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - HTTPBearer: []
  /v1/user/stats:
    get:
      tags:
      - User
      summary: Get User Stats
      description: Get user statistics.
      operationId: get_user_stats_v1_user_stats_get
      responses:
        '200':
          description: User stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStatsResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - HTTPBearer: []
  /:
    get:
      summary: Root
      description: API root endpoint.
      operationId: root__get
      responses:
        '200':
          description: Root ping
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootResponseEnvelope'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /health:
    get:
      summary: Health Check
      description: Lightweight health check endpoint.
      operationId: health_check_health_get
      tags:
      - Health
      responses:
        '200':
          description: Health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponseEnvelope'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /health/detailed:
    get:
      tags:
      - Health
      summary: Detailed Health Check
      description: Comprehensive health check including database, Redis, and circuit breaker status. Has a 10-second timeout on component checks.
      operationId: detailed_health_check_health_detailed_get
      responses:
        '200':
          description: Detailed health status with component breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedHealthResponseEnvelope'
  /health/ready:
    get:
      tags:
      - Health
      summary: Readiness Probe
      description: Kubernetes readiness probe. Checks database connectivity. Returns 503 if not ready.
      operationId: readiness_check_health_ready_get
      responses:
        '200':
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponseEnvelope'
        '503':
          description: Service is not ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponseEnvelope'
  /health/live:
    get:
      tags:
      - Health
      summary: Liveness Probe
      description: Kubernetes liveness probe. Minimal check that the process is responsive.
      operationId: liveness_check_health_live_get
      responses:
        '200':
          description: Service is alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LivenessResponseEnvelope'
  /metrics:
    get:
      tags:
      - Health
      summary: Prometheus Metrics
      description: Prometheus-compatible metrics endpoint for scraping.
      operationId: metrics_get
      responses:
        '200':
          description: Prometheus text metrics
          content:
            text/plain:
              schema:
                type: string
                description: Prometheus exposition format metrics
  /v1/summaries/by-url:
    get:
      tags:
      - Summaries
      summary: Get Summary by URL
      description: Look up a summary by the original article URL.
      operationId: get_summary_by_url_v1_summaries_by_url_get
      security:
      - HTTPBearer: []
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        description: Original URL of the article
      responses:
        '200':
          description: Summary detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryDetailResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/digest/channels:
    get:
      tags:
      - Digest
      summary: List Digest Channels
      description: List user's channel subscriptions and slot usage.
      operationId: list_channels_v1_digest_channels_get
      security:
      - HTTPBearer: []
      responses:
        '200':
          description: Digest channel subscriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelSubscriptionListResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/digest/channels/subscribe:
    post:
      tags:
      - Digest
      summary: Subscribe Digest Channel
      description: Subscribe to a Telegram channel for digest generation.
      operationId: subscribe_channel_v1_digest_channels_subscribe_post
      security:
      - HTTPBearer: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                channel_username:
                  type: string
                  minLength: 5
                  maxLength: 32
              required:
              - channel_username
        required: true
      responses:
        '200':
          description: Subscription result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscribeActionResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/digest/channels/unsubscribe:
    post:
      tags:
      - Digest
      summary: Unsubscribe Digest Channel
      description: Unsubscribe from a Telegram channel.
      operationId: unsubscribe_channel_v1_digest_channels_unsubscribe_post
      security:
      - HTTPBearer: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                channel_username:
                  type: string
                  minLength: 5
                  maxLength: 32
              required:
              - channel_username
        required: true
      responses:
        '200':
          description: Unsubscribe result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscribeActionResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/digest/preferences:
    get:
      tags:
      - Digest
      summary: Get Digest Preferences
      description: Get merged digest preferences (user overrides plus global defaults).
      operationId: get_preferences_v1_digest_preferences_get
      security:
      - HTTPBearer: []
      responses:
        '200':
          description: Digest preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigestPreferencesResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
      - Digest
      summary: Update Digest Preferences
      description: Update user digest preferences.
      operationId: update_preferences_v1_digest_preferences_patch
      security:
      - HTTPBearer: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                delivery_time:
                  type: string
                  pattern: ^\d{2}:\d{2}$
                timezone:
                  type: string
                  maxLength: 50
                hours_lookback:
                  type: integer
                  minimum: 1
                  maximum: 168
                max_posts_per_digest:
                  type: integer
                  minimum: 1
                  maximum: 100
                min_relevance_score:
                  type: number
                  minimum: 0
                  maximum: 1
        required: true
      responses:
        '200':
          description: Preferences update result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigestPreferencesResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/digest/history:
    get:
      tags:
      - Digest
      summary: List Digest History
      description: Get paginated list of past digest deliveries.
      operationId: list_history_v1_digest_history_get
      security:
      - HTTPBearer: []
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: Digest history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigestHistoryResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/digest/trigger:
    post:
      tags:
      - Digest
      summary: Trigger Digest
      description: Trigger an on-demand digest generation for current user.
      operationId: trigger_digest_v1_digest_trigger_post
      security:
      - HTTPBearer: []
      responses:
        '200':
          description: Trigger accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerDigestResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/digest/trigger-channel:
    post:
      tags:
      - Digest
      summary: Trigger Channel Digest
      description: Trigger digest for a single channel.
      operationId: trigger_channel_digest_v1_digest_trigger_channel_post
      security:
      - HTTPBearer: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                channel_username:
                  type: string
              required:
              - channel_username
        required: true
      responses:
        '200':
          description: Trigger accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerChannelDigestResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/digest/channels/{username}/posts:
    get:
      tags:
      - Digest
      summary: List Channel Posts
      description: List recent posts for a subscribed channel.
      operationId: list_channel_posts_v1_digest_channels_username_posts_get
      security:
      - HTTPBearer: []
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
          minLength: 5
          maxLength: 32
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 10
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: Paginated list of channel posts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelPostListResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/digest/channels/resolve:
    post:
      tags:
      - Digest
      summary: Resolve Channel
      description: Resolve a channel username and return metadata preview.
      operationId: resolve_channel_v1_digest_channels_resolve_post
      security:
      - HTTPBearer: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                channel_username:
                  type: string
              required:
              - channel_username
        required: true
      responses:
        '200':
          description: Channel metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolveChannelResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/digest/channels/bulk-unsubscribe:
    post:
      tags:
      - Digest
      summary: Bulk Unsubscribe
      description: Unsubscribe from multiple channels at once.
      operationId: bulk_unsubscribe_v1_digest_channels_bulk_unsubscribe_post
      security:
      - HTTPBearer: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                channel_usernames:
                  type: array
                  items:
                    type: string
                  minItems: 1
              required:
              - channel_usernames
        required: true
      responses:
        '200':
          description: Bulk unsubscribe result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/digest/channels/bulk-category:
    patch:
      tags:
      - Digest
      summary: Bulk Assign Category
      description: Assign multiple subscriptions to a category at once.
      operationId: bulk_assign_category_v1_digest_channels_bulk_category_patch
      security:
      - HTTPBearer: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                subscription_ids:
                  type: array
                  items:
                    type: integer
                  minItems: 1
                  maxItems: 50
                category_id:
                  type: integer
                  nullable: true
              required:
              - subscription_ids
        required: true
      responses:
        '200':
          description: Bulk assign result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/digest/channels/{subscription_id}/category:
    patch:
      tags:
      - Digest
      summary: Assign Category To Subscription
      description: Assign a subscription to a category, or remove the assignment with null.
      operationId: assign_category_v1_digest_channels_subscription_id_category_patch
      security:
      - HTTPBearer: []
      parameters:
      - name: subscription_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                category_id:
                  type: integer
                  nullable: true
        required: true
      responses:
        '200':
          description: Assign result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOnlyResponseEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
[...]
